// Place all the styles related to the Api::Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.booking-confirm-container{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    color: #444;
    text-align: center;
    h1 {
        font-weight: 700;
        margin: 2vw 5vw 1vw 5vw;
    }

    h3 {
        font-weight: 100;
        margin: 5px 0;
    }

    br {
        height: 80%;
    }

    strong{
        font-weight: 600;
    }

    .top-options {
        justify-content: space-around;
    }

    .not-full-width {
        margin: 7px 10vw 0 10vw;
        max-width: 75%;
    }

    hr {
        display: block;
        margin: 0 10vw 1vw 10vw;
        min-width: 75%;
    }

    a {
        color: #f7441c;
    }

    .name h2{
        margin: 0;
    }

    .city {
        margin: 0;
    }
}

.animation {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 10vw -3% 10vw;
}

.block{
    h3{
        margin: 2px 0;
    }
}

.review-button-row {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
}

.review-button {
    color: white;
    background: #ff6b70;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 8px 14px 8px 14px;
    animation: ease all .45s;
    position: relative;
    top: -190px;
      -webkit-box-shadow: 1px 4px 4px 1px #3c3c3ca6;;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 4px 4px 1px #3c3c3ca6;;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 4px 4px 1px #3c3c3ca6;;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.review-button:hover {
    background: #fa575c;
    transform: scale(1.02);
   
}
