// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width: 1460px) { 
    .right-half-modal-container {
        max-width: 75% !important;
    }
}

@media only screen and (max-width: 1200px) { 
    .photo-modal-close-button {
        top: 4% !important;
        left: 44vw !important;
        height: 32px !important;
        width: 36px !important;
        padding-top: 4px !important;
    }

}

.two-half-review-container {
    display: flex;
    width: 80%;
}

.left-half-container {
    width: 18%;
}

.right-half-container {
    width: 82%;
}

.review-item {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
}

.review-row {
    display: flex;
    width: 100%;
    margin: 2px 0;
    align-items: center;
}


.review-item > * > * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    list-style: none;
    margin: 5px;
}

.review-item  .review-author {
    font-weight: 600;
    font-size: 16px;
    margin: 2px 0;
    height: 18px;
}

.review-item  .review-rating {
    font-weight: 400;
    font-size: 12px;
}

.review-item  .review-date {
    padding-left: 10px;
    font-weight: 200;
    font-size: 12px;
    margin: 0;
    height: 20px;
    display: flex;
    align-items: center;
}

.review-item  .review-body {
    font-weight: 200;
    font-size: 12px;
    margin: 0;
}

.author-img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-size: cover;
    -webkit-box-shadow:  1px 2px 6px 0px #24202057;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     1px 2px 6px 0px #24202057;  /* Firefox 3.5 - 3.6 */
    box-shadow:          1px 2px 6px 0px #24202057;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.rating-avg-row {
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    height: 16px;
    margin: -5px 0px 5px 16px;
    transform: scale(.8);

}

.book-form .avg-review-num {
    margin-bottom: 12px;
}

.two-half-modal-container {
    padding: 20px 0 20px 0;
    background-color: #ffffff;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    color: #444;
    text-align: center;
    h1 {
        font-weight: 700;
        margin: 2vw 5vw 1vw 5vw;
    }

    h3 {
        font-weight: 100;
        margin: 5px 0;
    }

    br {
        height: 80%;
    }

    strong{
        font-weight: 600;
    }


    .not-full-width {
        margin: 7px 10vw 0 10vw;
        max-width: 75%;
    }

    .row {
        margin: 1vw 0;
    }
    
    textarea {
        resize: none;
        padding: 4px;
    }

}

.left-half-modal-container {
    display: flex;
    justify-content: center;
    width: 40%;
    flex-wrap: wrap;
    margin-top: -20px;
    text-align: center;
    h3 {
        width: 100%;
    }
}

.right-half-modal-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50%;
}

.review-textarea {
    background-color: #bdbbbb24;
    margin-top: 10px;
}

.close-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.sm-row {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:  0;
    color: #444;

    .session-submit {
        min-width: 30%;
        margin: 10px 0;
        padding: 10px 0;
    }

    .review-form-errors {
        color:red;
    }
}

.modal-close-button {     
    padding-top: 4px;
    height: 42px;
    width: 46px;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 2rem;
    cursor: pointer;
    margin: 0 30px 0 0;
    z-index: 3;
    border-radius: 5rem;
    background-color: #ffffff00;
    color: #8d8d8d;
    border: 1.5px solid #c7c2c252;
    transition: all .5s ease;
}

.photo-modal-close-button {  
    position: absolute;
    padding-top: 4px;
    top: 1vw;
    left: 45vw;
    height: 42px;
    width: 46px;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 2rem;
    cursor: pointer;
    margin: 0;
    z-index: 3;
    border-radius: 5rem;
    background-color: #ffffff00;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    transition: all .5s ease;
}

.photo-modal-close-button:hover {
    background-color: #cececea8;
}

.modal-close-button:hover{
    background-color: #cececea8;
}