// Place all the styles related to the Api::Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width: 1250px) { 
    .spot-details-box{
        display: block !important;
    }
    
    .right-box{
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .photo-row{
        display: block !important;
        width: 20% !important;
    }
}


// TEMP STYLES FOR PLACEHOLDER IMAGES

    #photo1{
        background-image: url(../airbnb.png);
        background-size:cover;    
    }
    #photo2{
        background-image: url(../cityscape.png);
        background-size:cover;    
    }
    #photo3{
        background-image: url(../sf2.jpg);
        background-size:cover;    
    }
    #photo4{
        background-image: url(../spain.png);
        background-size:cover;    
    }
    #photo5{
        background-image: url(../temp_pic.png);
        background-size:cover;    
    }
//
 

#search-spots{
    width: 600px;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding-left: 80px;
    color: #333333;
}

.spots-container {
    max-width: 95vw;
    padding: 0 0 0 80px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.spots-container > h1 {
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 20px;
    text-align: center;
    margin: 40px auto;
}

.spot-item{
    // background-color: lightblue; //FOR DEBUGGING ONLY
    padding: 5px 5px;
    margin: 20px 5px;
    width: 320px;
    height: 300px;
    -webkit-transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -moz-transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -ms-transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -o-transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
}

.spot-item:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.search-box-container {
    margin-right: auto;
    margin-left: 50px;
}

.spot-img{
    width: 300px;
    height: 200px;
    background-image: url(../temp_pic.png);
    background-size: 300px 200px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 6px 0px #24202038;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 3px 6px 0px #24202038;  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 3px 6px 0px #24202038;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.spot-item  h1 {
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

}

.spot-container > .top-nav {
    -webkit-box-shadow: 2px 2px 5px 0px #13111123;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 2px 5px 0px #13111123;  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 2px 5px 0px #13111123;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.spot-item  h3 {
    font-size: 12px;
    padding-left: 0px;
    padding-right: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.spot-item  h2 {
    margin-top: -5px;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.features > h3:first-of-type  {
    color: black;
    background-color: #ffffff00;
    font-size: 12px;
    margin-right:auto;
    padding-left:5px;
    font-weight: 300;
}

.features > h3:first-of-type::after{
    content: '';
}

.features > h3:last-of-type::after{
    content: '';
}

.features > h3 {
    color: #358bda;
    font-size:12px;
    display: inline;
    margin: 10px 0px 2px 1px;
    letter-spacing: 0px;
    font-weight: 300;
}

.features > h3::after{
    content: ' |'
}

.features {
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;

}

.spot-details-line{
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.spot-details-line > h3:last-of-type {
    margin-right: 10px;
}

.priceline {
    display: flex;
    justify-content: space-between;
}

.priceline > h2:last-of-type {
    margin-right: 10px;
    font-weight:800;
}

.top-search-box {
    margin: 5px 20px 0 0;    
    background-color: #ffffff;
    -webkit-box-shadow: 1px 2px 5px 1px #67656524;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 2px 5px 1px #67656524;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 2px 5px 1px #67656524;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    width: 200px;
    height: 46px;
    padding: 0px 0px 0px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
    font-weight: 200;
    border: none;
    color: #AEAEAE;
    border-radius: 3px;
    display: flex; 
    -webkit-transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -moz-transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -ms-transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -o-transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    transition: transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
}

.guest-search-box{
    margin: 5px 20px 0 0;    
    background-color: #ffffff;
    width: 200px;
    height: 46px;
    padding: 0px 0px 0px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    font-weight: 200;
    color: #484848;
    border-radius: 0px ;
    display: flex; 
    border:1px solid #dbdbdb;
}


.spots-page-search {
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px auto;
}


// .locations-page > .spots-page-search > h1 {
//     margin: 0;
//     text-align: center;
//     padding-top: 100px;
//     text-align: left;
//     font-family: 'Montserrat', sans-serif;
//     padding-left: 80px;
//     color: #333333;
// }

.spot-filters {
    display: flex;
    max-width: 90vw;
    padding-left: 10%;
    justify-content: flex-start;
}

.spot-filters > label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #333333;


}

.top-search-box:focus {
    outline: none;
    transform: scale(1.1);
    color: black;
}

#app > .spot-container{
    height:auto;
    background-color: #ffffff;
}

.photos-container{
    padding-top: 72px; 
    height: 500px;
    width: 100%;
    display: flex;
}

.main-photo{
    height: 100%;
    width: 60%;
    background-color: rgba(240, 128, 128, 0);
    -webkit-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -moz-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -ms-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -o-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
}

.photo-row{

    width: 40vw;
    height:50%;
    display: inline-block;
}

.other-photo{
    box-sizing: border-box;
    background-color: rgba(144, 238, 144, 0);
    // border:1px solid rgba(0, 0, 0, 0.24);
    height: 100%;
    width: 100%;
    -webkit-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -moz-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -ms-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    -o-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
    transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
}

.other-photo:hover, .main-photo:hover{
    transform:scale(1.05);
    cursor: pointer;
}

.spot-details-box {
    color: #333333;
    display: flex;
}

.spot-details-box  h1 {
    color: #333333;
    font-size: 34px;
    max-width: 280px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.spot-details-box  h2 {
    color: #333333;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-top: -20px;
}

.spot-details-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    font-size:14px;
    color: #333333b0
}

.spot-details-box hr { 
    border: 0;
    height: 0;
    border-top: 1.5px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);

}
.spot-details-box ul {
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    font-size:14px;
    color: #333333;
    list-style-type: disc;
}

.spot-numbers {
    display: flex;
    justify-content: flex-start;
}

.spot-numbers h3 {
    padding: 0 20px 0 0;
    font-weight:600;
    font-size:14px;
}

.spot-number-icon{
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 30px;
    margin-left:30%;
    margin-bottom: -10px;
}

#bedroom {
    background-image: url(../bedroom_icon.svg);
}

#bed {
    background-image: url(../bed_icon.svg);
    margin-left:15%;
}

#guests {
    background-image: url(../guests_icon.svg);
    margin-left:20%;

}
.left-box {
    width: 50%;
    padding-left: 15%;
    margin-bottom: 50px;
}


.left-box-text > p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight:900;
    color: #F27230;
    margin-bottom: -14px;
}
.left-box-img{
    margin: -60px 0px 0px 20px;
    margin-left:20%;
    text-align: center;
}


.left-box-img h3 {
    text-align: center !important;
}

.host-img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    // background-image: url(../tb.jpg);
    background-size: cover;
    -webkit-box-shadow:  1px 2px 6px 0px #24202057;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:     1px 2px 6px 0px #24202057;  /* Firefox 3.5 - 3.6 */
    box-shadow:          1px 2px 6px 0px #24202057;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.container{
    display: flex;
}



.right-box {
    width: 50%;
    padding-right:15%;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}

.booking-box {
    background-color: red;
    margin-top:50px;
    margin-bottom:50px;
    height:600px;
    overflow: hidden;    
}

.booking-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight: 500;
}

.right-box > form {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    align-self: flex-start; 
    margin-top: 40px;  
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius:3px;
    justify-content: center;
    padding:10px;
    border: 1px solid #67656524;
   
}

.book-form {
    padding:10px;
    min-width: 400px;
}

.book-form .dropdown-input {
    box-shadow: none;
}

.book-form p {
    margin-bottom: 5px;
}

.form-row {
    display: flex;
}
.book-form .dropdown-input{
    min-height: 25px;
    max-height: 30px;
    padding: 10px 10px;
}

.book-form .session-submit {
    font-size:14px;
    width:100%;
        border-radius: 50px;
}


.left-form, .right-form{
    text-align: left;
    width: 50%;
}

.review-score{
    display: flex;
}

.star-score{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-weight:300;
    font-size: 14px;
    width: 100%;
}

.star-score strong {
    font-weight: 800 !important;
}

.star-score br {
    font-size: 18px;
}

.subtotal {
    margin: 0px auto;
}
.subtotal:first-of-type{
    margin-top:20px;
}

.two-half-container{
    display: flex;
}

.left-half{
    max-width:60%;
}

.right-half{
    padding-right: 0;
    padding-left: 10px;
    position: fixed;
    left: 60vw;
    margin-top:-50px;
}