// Place all the styles related to the Api::Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-spots{
    width: 600px;
}

.spot-item{
    // background-color: lightblue; //FOR DEBUGGING ONLY
    padding: 10px;
    margin: 10px 10px;
    width: 320px;
    height: 300px;
}

.spot-img{
    width: 300px;
    height: 200px;
    background-image: url(../placeholder_spot.png);
    background-size: 300px 240px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-box-shadow: 2px 3px 6px 0px #24202038;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 3px 6px 0px #24202038;  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 3px 6px 0px #24202038;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.spot-item > h1 {
    margin-top: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

}

.spot-item  h3 {
    font-size: 12px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.spot-item  h2 {
    margin-top: -5px;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.features {
    padding-left: 5px;
    margin-top: 0px;
    display: flex;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.features > h3 {
    display: inline;
    padding: 0px 5px;
    color: #358bda;
    font-weight: 600;

}

.spot-details-line{
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
}

.spot-details-line > h3:last-of-type {
    margin-right: 10px;
}