// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
    max-width: 75vw;
    margin: 6vw auto 0 auto;
    h1{
        font-size: 2.5vw;
    }
    h2 {
        font-size: 2vw;
    }
    h3 {
        font-size: 1.5vw;
    }
    h4 {
        font-size: 1.2vw;
    }
}

.row {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3vw 0;
    color: #444;
    h4{
        font-weight: 100;
    }
}

.two-halves {
    display: flex;
    width: 100%;
}

.profile-img {
    border-radius: 50%;
    margin: 0 4vw 0 12vw;
    width: 10vw;
    height: 10vw;
    background-size: cover;
    -webkit-box-shadow: 1px 2px 6px 0px #24202057;
    -moz-box-shadow: 1px 2px 6px 0px #24202057;
    box-shadow: 1px 2px 6px 0px #24202057;
}

.left {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.right {
    width: 30vw;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.full-width {
    width:100%;
    margin: .4vw 0 .4vw 0;
    height: auto;
}

.toggle {
    padding: 15px 20px 15px 20px;
    margin: 10px 5vw;
    width: 10vw;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    background: rgb(255, 90, 95);
    text-align: center;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease all;
    
}

.toggle:hover{
    background: rgb(240, 78, 84);
}

.inactive {
    background: none;
    border: 2px solid rgb(255, 90, 95);
    color: rgb(255, 90, 95);
    font-weight: 600;
}

.inactive:hover{
    border: 2px solid #df4421;
    color: #df4421;
    background: none;
}

@media only screen and (max-width: 1400px) { 

    .row{
        flex-wrap: wrap;
    }

    .profile-img{
        width: 20vw;
        height: 20vw;
        border-radius: 50vw;
        margin: 2vw 20vw;
        display: block;
    }

    .right {
        width: 60vw;
        margin: 0;
        text-align: center;
    }

    .profile {
        max-width: 85vw;
        margin: 6vw auto 0 auto;
        h1{
            font-size: 2.5em;
        }
        h2 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.5em;
        }
        h4 {
            font-size: 1.2em;
        }
    }

    .toggle{
        width: 16vw;
    }
}

.bookings-list {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.spot-item strong {
    font-weight: 900;
}

.labelline {
    display: flex;
    justify-content: space-between;
    p {
        margin: 0;
    }
}