// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{
    margin-top: 5vw;
}

.row {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #444;
    h4{
        font-weight: 100;
    }
}

.two-halves{
    display: flex;
    width: 100%;
}

.left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.full-width{
    width:100%;
    margin: .2vw 0;
}