// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
    max-width: 75vw;
    margin: 6vw auto 0 auto;
    h1{
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.2em;
    }

}

.row {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #444;
    h4{
        font-weight: 100;
    }
}

.two-halves {
    display: flex;
    width: 100%;
}

.profile-img {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    background-size: cover;
    -webkit-box-shadow: 1px 2px 6px 0px #24202057;
    -moz-box-shadow: 1px 2px 6px 0px #24202057;
    box-shadow: 1px 2px 6px 0px #24202057;
}

.left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.full-width {
    width:100%;
    margin: .4vw 0 .4vw 0;
    height: auto;
}